header {
  background-color: Yellow;
  font-color: Black;
  text-align: center;
  margin: 0;
  padding: 0;
}
  
body {
  font-family: Verdana, sans-serif;
  text-align: center;
  font-background-color: Red;
  font-color: Black;
  margin: 0;
  padding: 0;
}
